In [1]:
sentence_1 = "Hamlet said quietly"
sentence_2 = "Harry said to Harmione"
sentence_3 = "Harry said to Meghan"

In [2]:
all_sentences = [
    sentence_1,
    sentence_2,
    sentence_3,
]

In [16]:
from collections import Counter
import pandas as pd

In [9]:
c = Counter(" ".join([sentence_1, sentence_2, sentence_3]).split(" "))

In [13]:
list()

['Hamlet', 'said', 'quietly', 'Harry', 'to', 'Harmione', 'Meghan']

In [5]:
dic = {}

In [14]:
for i, sen in enumerate(all_sentences):
    s = f"sen_{i}"
    
    keys = c.keys()
    vector = []
    
    for k in keys:
        count = sen.count(k)
        vector.append(count)
    
    dic[s] = vector

In [15]:
dic

{'sen_0': [1, 1, 1, 0, 0, 0, 0],
 'sen_1': [0, 1, 0, 1, 1, 1, 0],
 'sen_2': [0, 1, 0, 1, 1, 0, 1]}

In [17]:
matrix = pd.DataFrame.from_dict(dic, orient="index")

In [19]:
matrix.columns=keys

In [21]:
matrix

       Hamlet  said  quietly  Harry  to  Harmione  Meghan
sen_0       1     1        1      0   0         0       0
sen_1       0     1        0      1   1         1       0
sen_2       0     1        0      1   1         0       1

In [22]:
display(matrix)

       Hamlet  said  quietly  Harry  to  Harmione  Meghan
sen_0       1     1        1      0   0         0       0
sen_1       0     1        0      1   1         1       0
sen_2       0     1        0      1   1         0       1